@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
    color: #031A8D;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}

p {
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
}

a:hover {
    color: #428bca;
    text-decoration: underline;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;

    display: flex;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    #profile-picture {
        border-radius: 50%;
    }
}
