@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
    color: #6666ff;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}

p {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #000000;
}

a:hover {
    color: #428bca;
    text-decoration: underline;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers that do NOT support vh unit */
    min-height: 100vh;

    display: flex;
    align-items: center;
}

#rainbow_text_animated:hover, #rainbow_text_animated:active {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 18s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

@media only screen and (min-width: 768px) {
    #profile-picture {
        border-radius: 50%;
    }
}
